<div class="navbar-outer">

  <div class="navbar-inner">
    <div class="name-title">
      <h2>NAVBAR</h2>
    </div>

    <div class="navbar">
      <%# <input type="checkbox" class="menu-btn" id="menu-btn" />
      <label for="menu-btn" class="menu-icon"><span class="nav-icon"></span></label> %>

      <ul class="tabs">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "MUSIC", music_path %></li>
        <li><%= link_to "ABOUT", about_path %></li>
        <li><%= link_to "SHOP", shop_path %></li>
        <li><%= link_to "BOOK", book_path %></li>
        <li><%= link_to "CONTACT", contact_path %></li>
      </ul>
    </div>
  </div>
</div>
